            CLASSIFICATION PROJECT: CUSTOMER CHURNING DATA ANALYSIS

In [203]:
# IMPORTING LIBRARIES AND PACKAGES 

import urllib
from sqlalchemy import create_engine, text
import pandas as pd
%pip install openpyxl

# Suppressing all warnings 
from warnings import filterwarnings
filterwarnings('ignore')

Requirement already satisfied: openpyxl in c:\users\hp1\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\hp1\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

LOADING OF FIRST DATASET BY CREATING A CONNECTION ENGINE TO SQL DATABASE USING CREDENTIALS.                                                      THIS DATASET WILL BE USED FOR TRAINING OF MODEL

In [204]:

# Database connection details
server = 'dap-projects-database.database.windows.net'
database = 'dapDB'
username = 'LP2_project'
password = 'Stat$AndD@t@Rul3'
driver = '{ODBC Driver 17 for SQL Server}'

# Create connection string
connection_string = f"mssql+pyodbc:///?odbc_connect=" + urllib.parse.quote_plus(
    f"DRIVER={driver};"
    f"SERVER={server};"
    f"DATABASE={database};"
    f"UID={username};"
    f"PWD={password};"
)

# Create engine
engine = create_engine(connection_string)

# Test query using SQLAlchemy's text method
try:
    with engine.connect() as connection:
        query = text("SELECT * FROM dbo.LP2_Telco_churn_first_3000")
        train_data1 = connection.execute(query)
        
        # Convert result to a pandas DataFrame
        train_data1 = pd.DataFrame(train_data1.fetchall(), columns=train_data1.keys())
        display(train_data1)  # Display the dataframe
except Exception as e:
    print(f"Error executing query: {e}")

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,None,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2209-XADXF,Female,False,False,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,False,Bank transfer (automatic),25.250000,25.250000,False
2996,6620-JDYNW,Female,False,False,False,18,True,True,DSL,True,...,True,False,False,False,Month-to-month,True,Mailed check,60.599998,1156.349976,False
2997,1891-FZYSA,Male,True,True,False,69,True,True,Fiber optic,False,...,False,False,True,False,Month-to-month,True,Electronic check,89.949997,6143.149902,True
2998,4770-UEZOX,Male,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,74.750000,144.800003,False
2999,1A1:U3001038-RQOST,Male,False,True,True,19,True,False,No,None,...,None,None,None,None,Month-to-month,False,Mailed check,20.600000,414.950012,False

LOADING SECOND DATASET (CSV FILE) FOR THE TRAINING OF MODEL

In [205]:
# LOADING SECOND DATASET AS CSV
train_data2 = pd.read_csv(r"C:\Users\HP1\Documents\DATASET FOR PHASE2 PROJECT\LP2_Telco-churn-second-2000.csv")
train_data2

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,...,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.50,312.7,No
1,8292-TYSPY,Male,0,No,No,19,Yes,No,DSL,No,...,Yes,Yes,No,No,Month-to-month,Yes,Credit card (automatic),55.00,1046.5,Yes
2,0567-XRHCU,Female,0,Yes,Yes,69,No,No phone service,DSL,Yes,...,Yes,No,No,Yes,Two year,Yes,Credit card (automatic),43.95,2960.1,No
3,1867-BDVFH,Male,0,Yes,Yes,11,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,74.35,834.2,Yes
4,2067-QYTCF,Female,0,Yes,No,64,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,111.15,6953.4,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
2039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
2040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
2041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
2042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

LOADING THIRD DATASET (EXCEL FILE) FOR TESTING OF MODEL

In [206]:
# LOADING TESTING DATASET AS XLSX
test_data = pd.read_excel(r"C:\Users\HP1\Documents\DATASET FOR PHASE2 PROJECT\Telco-churn-last-2000.xlsx.aspx")
test_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7613-LLQFO,Male,0,No,No,12,Yes,Yes,Fiber optic,No,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.45,1059.55
1,4568-TTZRT,Male,0,No,No,9,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.40,181.8
2,9513-DXHDA,Male,0,No,No,27,Yes,No,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,No,Electronic check,81.70,2212.55
3,2640-PMGFL,Male,0,No,Yes,27,Yes,Yes,Fiber optic,No,No,No,Yes,No,No,Month-to-month,Yes,Electronic check,79.50,2180.55
4,3801-HMYNL,Male,0,Yes,Yes,1,Yes,No,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,No,Mailed check,89.15,89.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,7912-SYRQT,Female,0,No,No,7,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),75.10,552.95
1996,3557-HTYWR,Female,0,No,No,47,Yes,Yes,DSL,Yes,Yes,No,Yes,No,Yes,Two year,No,Mailed check,74.05,3496.3
1997,4816-JBHOV,Male,1,No,No,2,Yes,No,DSL,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,44.70,93.7
1998,8920-NAVAY,Male,1,No,No,62,Yes,Yes,Fiber optic,No,Yes,Yes,Yes,Yes,Yes,One year,Yes,Bank transfer (automatic),110.75,7053.35
1999,1699-TLDLZ,Female,0,Yes,Yes,16,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.70,301.55

PERFORMING EXPLORATIVE DATA ANALYSIS TO VERIFY AND CLEAN DATA OF ERRORS

1.1

In [207]:
# Viewing the various columns in the train_data1 dataframe
train_data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   bool
 3   Partner           3000 non-null   bool
 4   Dependents        3000 non-null   bool
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   bool
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   bool
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 389.8+ KB

In [208]:
# Checking for null values in train_data1
train_data1.isnull().sum()

customerID            0
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines       269
InternetService       0
OnlineSecurity      651
OnlineBackup        651
DeviceProtection    651
TechSupport         651
StreamingTV         651
StreamingMovies     651
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges          5
Churn                 1
dtype: int64

In [209]:
# Checking the percentage of missing values in train_data1
train_data1.isnull().sum()/len(train_data1)*100

customerID           0.000000
gender               0.000000
SeniorCitizen        0.000000
Partner              0.000000
Dependents           0.000000
tenure               0.000000
PhoneService         0.000000
MultipleLines        8.966667
InternetService      0.000000
OnlineSecurity      21.700000
OnlineBackup        21.700000
DeviceProtection    21.700000
TechSupport         21.700000
StreamingTV         21.700000
StreamingMovies     21.700000
Contract             0.000000
PaperlessBilling     0.000000
PaymentMethod        0.000000
MonthlyCharges       0.000000
TotalCharges         0.166667
Churn                0.033333
dtype: float64

In [210]:
# Checking for duplicates in train_data1
train_data1.duplicated().sum()

np.int64(0)

In [211]:
# Checking info about train_data2
train_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2043 non-null   object
 1   gender            2043 non-null   object
 2   SeniorCitizen     2043 non-null   int64
 3   Partner           2043 non-null   object
 4   Dependents        2043 non-null   object
 5   tenure            2043 non-null   int64
 6   PhoneService      2043 non-null   object
 7   MultipleLines     2043 non-null   object
 8   InternetService   2043 non-null   object
 9   OnlineSecurity    2043 non-null   object
 10  OnlineBackup      2043 non-null   object
 11  DeviceProtection  2043 non-null   object
 12  TechSupport       2043 non-null   object
 13  StreamingTV       2043 non-null   object
 14  StreamingMovies   2043 non-null   object
 15  Contract          2043 non-null   object
 16  PaperlessBilling  2043 non-null   object
 17  PaymentMethod     2043 non-null   object
 18  MonthlyCharges    2043 non-null   float64
 19  TotalCharges      2043 non-null   object
 20  Churn             2043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 335.3+ KB

In [212]:
#Univariate Analysis of train_data1
train_data1.describe()

            tenure  MonthlyCharges  TotalCharges
count  3000.000000     3000.000000   2995.000000
mean     32.527333       65.347400   2301.278315
std      24.637768       30.137053   2274.987884
min       0.000000       18.400000     18.799999
25%       9.000000       35.787499    415.250000
50%      29.000000       70.900002   1404.650024
75%      56.000000       90.262501   3868.725098
max      72.000000      118.650002   8564.750000

In [213]:
# Concatenate the train_data1 and train_data2 as a list ignoring index
train_data = pd.concat([train_data1, train_data2], ignore_index=True)
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5043 non-null   object
 1   gender            5043 non-null   object
 2   SeniorCitizen     5043 non-null   int64
 3   Partner           5043 non-null   object
 4   Dependents        5043 non-null   object
 5   tenure            5043 non-null   int64
 6   PhoneService      5043 non-null   object
 7   MultipleLines     4774 non-null   object
 8   InternetService   5043 non-null   object
 9   OnlineSecurity    4392 non-null   object
 10  OnlineBackup      4392 non-null   object
 11  DeviceProtection  4392 non-null   object
 12  TechSupport       4392 non-null   object
 13  StreamingTV       4392 non-null   object
 14  StreamingMovies   4392 non-null   object
 15  Contract          5043 non-null   object
 16  PaperlessBilling  5043 non-null   object
 17  PaymentMethod     5043 non-null   object
 18  MonthlyCharges    5043 non-null   float64
 19  TotalCharges      5038 non-null   object
 20  Churn             5042 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 827.5+ KB

In [214]:
# Viewing the shape of train_data
train_data.shape

(5043, 21)

In [215]:
#converting the data type for TotalCharges on both train_data and test_data
train_data['TotalCharges'] =pd.to_numeric( train_data['TotalCharges'],errors='coerce')
test_data['TotalCharges'] =pd.to_numeric( test_data['TotalCharges'],errors='coerce')

In [216]:
train_data.isnull().sum()

customerID            0
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines       269
InternetService       0
OnlineSecurity      651
OnlineBackup        651
DeviceProtection    651
TechSupport         651
StreamingTV         651
StreamingMovies     651
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges          8
Churn                 1
dtype: int64

In [217]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2000 non-null   object
 1   gender            2000 non-null   object
 2   SeniorCitizen     2000 non-null   int64
 3   Partner           2000 non-null   object
 4   Dependents        2000 non-null   object
 5   tenure            2000 non-null   int64
 6   PhoneService      2000 non-null   object
 7   MultipleLines     2000 non-null   object
 8   InternetService   2000 non-null   object
 9   OnlineSecurity    2000 non-null   object
 10  OnlineBackup      2000 non-null   object
 11  DeviceProtection  2000 non-null   object
 12  TechSupport       2000 non-null   object
 13  StreamingTV       2000 non-null   object
 14  StreamingMovies   2000 non-null   object
 15  Contract          2000 non-null   object
 16  PaperlessBilling  2000 non-null   object
 17  PaymentMethod     2000 non-null   object
 18  MonthlyCharges    2000 non-null   float64
 19  TotalCharges      1997 non-null   float64
dtypes: float64(2), int64(2), object(16)
memory usage: 312.6+ KB

In [219]:
train_data.isna().sum()

customerID            0
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines       269
InternetService       0
OnlineSecurity      651
OnlineBackup        651
DeviceProtection    651
TechSupport         651
StreamingTV         651
StreamingMovies     651
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges          8
Churn                 1
dtype: int64

OBERVATION

In [173]:
#Impute the missing values
#Drop the ones with the less missing values
#Check for outliers and standardize the data

In [220]:
#CHECK FOR UNIQUE VALUES    
# def unique_values(df): 
    
#     unique_summary = [] 

#     for columns in df.columns:
#         values = df[columns].unique()
#         count_values = len(values)

#         unique_summary.append([
#             "columns" : column,
#              "Unique_Values" : values,
#               "Count_of_Unique_Values" : count_values,])
#     usummary = pd.DataFrame(unique_summary)

#     return usummary

def unique_values(df): 
    unique_summary = []  # List to store summary for each column

    for column in df.columns:  # Loop through each column
        values = df[column].unique()  # Get unique values for the column
        count_values = len(values)  # Count the number of unique values

        # Append the summary as a dictionary
        unique_summary.append({
            "Column": column,
            "Unique_Values": values,
            "Count_of_Unique_Values": count_values
        })

    # Convert the list of dictionaries to a DataFrame for better display
    usummary = pd.DataFrame(unique_summary)

    return usummary

In [221]:
unique_values(train_data)

,Column,Unique_Values,Count_of_Unique_Values
0,customerID,"[7590-VHVEG, 5575-GNVDE, 3668-QPYBK, 7795-CFOC...",5043
1,gender,"[Female, Male]",2
2,SeniorCitizen,"[0, 1]",2
3,Partner,"[True, False, No, Yes]",4
4,Dependents,"[False, True, No, Yes]",4
5,tenure,"[1, 34, 2, 45, 8, 22, 10, 28, 62, 13, 16, 58, ...",73
6,PhoneService,"[False, True, Yes, No]",4
7,MultipleLines,"[None, False, True, No, No phone service, Yes]",6
8,InternetService,"[DSL, Fiber optic, No]",3
9,OnlineSecurity,"[False, True, None, No, Yes, No internet service]",6
10,OnlineBackup,"[True, False, None, No, Yes, No internet service]",6
11,DeviceProtection,"[False, True, None, No, Yes, No internet service]",6
12,TechSupport,"[False, True, None, Yes, No, No internet service]",6
13,StreamingTV,"[False, True, None, No, Yes, No internet service]",6
14,StreamingMovies,"[False, True, None, No, Yes, No internet service]",6
15,Contract,"[Month-to-month, One year, Two year]",3
16,PaperlessBilling,"[True, False, Yes, No]",4
17,PaymentMethod,"[Electronic check, Mailed check, Bank transfer...",4
18,MonthlyCharges,"[29.850000381469727, 56.95000076293945, 53.849...",2069
19,TotalCharges,"[29.850000381469727, 1889.5, 108.1500015258789...",4864
20,Churn,"[False, True, None, No, Yes]",5

In [222]:
# dropping the customerID column in the train_data
train_data.drop(columns = 'customerID', inplace=True)

# dropping the customerID column in the test_data
test_data.drop(columns = 'customerID', inplace=True)

In [224]:
train_data.head(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,True,False,1,False,None,DSL,False,True,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,Male,0,False,False,34,True,False,DSL,True,False,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,Male,0,False,False,2,True,False,DSL,True,True,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,Male,0,False,False,45,False,None,DSL,True,False,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,Female,0,False,False,2,True,False,Fiber optic,False,False,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True

In [226]:
#Converting to Yes and No

labels = train_data.select_dtypes(include=['object']).columns.tolist()
labels

['gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'Churn']

In [227]:
# Convert to String

train_data[labels] = train_data[labels].astype(str)

In [228]:
# Adding a funtion to make the changes

change = {
    
    "No" : ["False", "0", "No phone service", "No internet service"],
    "Yes" : ["True","1"]
}

def correct_columns(train_data,labels,change):
    for columns_name in labels:
        for key,values in change.items():
            train_data[columns_name] = train_data[columns_name].replace(values, key)
    return train_data

train_data = correct_columns(train_data,labels,change)

In [229]:
# Verifying the changes
unique_values(train_data)

,Column,Unique_Values,Count_of_Unique_Values
0,gender,"[Female, Male]",2
1,SeniorCitizen,"[0, 1]",2
2,Partner,"[Yes, No]",2
3,Dependents,"[No, Yes]",2
4,tenure,"[1, 34, 2, 45, 8, 22, 10, 28, 62, 13, 16, 58, ...",73
5,PhoneService,"[No, Yes]",2
6,MultipleLines,"[None, No, Yes]",3
7,InternetService,"[DSL, Fiber optic, No]",3
8,OnlineSecurity,"[No, Yes, None]",3
9,OnlineBackup,"[Yes, No, None]",3
10,DeviceProtection,"[No, Yes, None]",3
11,TechSupport,"[No, Yes, None]",3
12,StreamingTV,"[No, Yes, None]",3
13,StreamingMovies,"[No, Yes, None]",3
14,Contract,"[Month-to-month, One year, Two year]",3
15,PaperlessBilling,"[Yes, No]",2
16,PaymentMethod,"[Electronic check, Mailed check, Bank transfer...",4
17,MonthlyCharges,"[29.850000381469727, 56.95000076293945, 53.849...",2069
18,TotalCharges,"[29.850000381469727, 1889.5, 108.1500015258789...",4864
19,Churn,"[No, Yes, None]",3

In [230]:
# Creating a list for numeric columns
numeric = train_data[["tenure", "TotalCharges", "MonthlyCharges"]]
numeric

      tenure  TotalCharges  MonthlyCharges
0          1     29.850000       29.850000
1         34   1889.500000       56.950001
2          2    108.150002       53.849998
3         45   1840.750000       42.299999
4          2    151.649994       70.699997
...      ...           ...             ...
5038      24   1990.500000       84.800000
5039      72   7362.900000      103.200000
5040      11    346.450000       29.600000
5041       4    306.600000       74.400000
5042      66   6844.500000      105.650000

[5043 rows x 3 columns]

UNIVARIATE ANALYSIS

In [231]:
train_data.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    5043.000000  5043.000000     5043.000000   5035.000000
mean        0.162403    32.576641       65.090214   2302.062861
std         0.368857    24.529807       30.068133   2269.483576
min         0.000000     0.000000       18.400000     18.799999
25%         0.000000     9.000000       35.775000    417.675003
50%         0.000000    29.000000       70.550003   1401.150024
75%         0.000000    56.000000       90.050003   3862.000000
max         1.000000    72.000000      118.650002   8670.100000

In [232]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            5043 non-null   object
 1   SeniorCitizen     5043 non-null   int64
 2   Partner           5043 non-null   object
 3   Dependents        5043 non-null   object
 4   tenure            5043 non-null   int64
 5   PhoneService      5043 non-null   object
 6   MultipleLines     5043 non-null   object
 7   InternetService   5043 non-null   object
 8   OnlineSecurity    5043 non-null   object
 9   OnlineBackup      5043 non-null   object
 10  DeviceProtection  5043 non-null   object
 11  TechSupport       5043 non-null   object
 12  StreamingTV       5043 non-null   object
 13  StreamingMovies   5043 non-null   object
 14  Contract          5043 non-null   object
 15  PaperlessBilling  5043 non-null   object
 16  PaymentMethod     5043 non-null   object
 17  MonthlyCharges    5043 non-null   float64
 18  TotalCharges      5035 non-null   float64
 19  Churn             5043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 788.1+ KB

In [233]:
train_data.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        8
Churn               0
dtype: int64

In [185]:
# Changing senirorCitizen to string
train_data['SeniorCitizen'] = train_data['SeniorCitizen'].astype(str)
test_data['SeniorCitizen'] = test_data['SeniorCitizen'].astype(str)

In [186]:
# Confirming SenorCitizen changes to String in the train_data
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            5043 non-null   object
 1   SeniorCitizen     5043 non-null   object
 2   Partner           5043 non-null   object
 3   Dependents        5043 non-null   object
 4   tenure            5043 non-null   int64
 5   PhoneService      5043 non-null   object
 6   MultipleLines     5043 non-null   object
 7   InternetService   5043 non-null   object
 8   OnlineSecurity    5043 non-null   object
 9   OnlineBackup      5043 non-null   object
 10  DeviceProtection  5043 non-null   object
 11  TechSupport       5043 non-null   object
 12  StreamingTV       5043 non-null   object
 13  StreamingMovies   5043 non-null   object
 14  Contract          5043 non-null   object
 15  PaperlessBilling  5043 non-null   object
 16  PaymentMethod     5043 non-null   object
 17  MonthlyCharges    5043 non-null   float64
 18  TotalCharges      5035 non-null   float64
 19  Churn             5043 non-null   object
dtypes: float64(2), int64(1), object(17)
memory usage: 788.1+ KB

In [187]:
# Confirming SenorCitizen changes to String in the train_data
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            2000 non-null   object
 1   SeniorCitizen     2000 non-null   object
 2   Partner           2000 non-null   object
 3   Dependents        2000 non-null   object
 4   tenure            2000 non-null   int64
 5   PhoneService      2000 non-null   object
 6   MultipleLines     2000 non-null   object
 7   InternetService   2000 non-null   object
 8   OnlineSecurity    2000 non-null   object
 9   OnlineBackup      2000 non-null   object
 10  DeviceProtection  2000 non-null   object
 11  TechSupport       2000 non-null   object
 12  StreamingTV       2000 non-null   object
 13  StreamingMovies   2000 non-null   object
 14  Contract          2000 non-null   object
 15  PaperlessBilling  2000 non-null   object
 16  PaymentMethod     2000 non-null   object
 17  MonthlyCharges    2000 non-null   float64
 18  TotalCharges      1997 non-null   float64
dtypes: float64(2), int64(1), object(16)
memory usage: 297.0+ KB

In [188]:
train_data.describe()

            tenure  MonthlyCharges  TotalCharges
count  5043.000000     5043.000000   5035.000000
mean     32.576641       65.090214   2302.062861
std      24.529807       30.068133   2269.483576
min       0.000000       18.400000     18.799999
25%       9.000000       35.775000    417.675003
50%      29.000000       70.550003   1401.150024
75%      56.000000       90.050003   3862.000000
max      72.000000      118.650002   8670.100000

In [189]:
import matplotlib.pyplot as plt
import seaborn as sns

In [190]:
# Viewing missing values
train_data.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        8
Churn               0
dtype: int64

In [191]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            5043 non-null   object
 1   SeniorCitizen     5043 non-null   object
 2   Partner           5043 non-null   object
 3   Dependents        5043 non-null   object
 4   tenure            5043 non-null   int64
 5   PhoneService      5043 non-null   object
 6   MultipleLines     5043 non-null   object
 7   InternetService   5043 non-null   object
 8   OnlineSecurity    5043 non-null   object
 9   OnlineBackup      5043 non-null   object
 10  DeviceProtection  5043 non-null   object
 11  TechSupport       5043 non-null   object
 12  StreamingTV       5043 non-null   object
 13  StreamingMovies   5043 non-null   object
 14  Contract          5043 non-null   object
 15  PaperlessBilling  5043 non-null   object
 16  PaymentMethod     5043 non-null   object
 17  MonthlyCharges    5043 non-null   float64
 18  TotalCharges      5035 non-null   float64
 19  Churn             5043 non-null   object
dtypes: float64(2), int64(1), object(17)
memory usage: 788.1+ KB

In [192]:
train_data[train_data['TotalCharges'].isna()]

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,Female,0,Yes,Yes,0,No,None,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.549999,NaN,No
753,Male,0,No,Yes,0,Yes,No,No,None,None,None,None,None,None,Two year,No,Mailed check,20.250000,NaN,No
936,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.849998,NaN,No
1082,Male,0,Yes,Yes,0,Yes,Yes,No,None,None,None,None,None,None,Two year,No,Mailed check,25.750000,NaN,No
1340,Female,0,Yes,Yes,0,No,None,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.049999,NaN,No
3218,Male,0,Yes,Yes,0,Yes,No,No,No,No,No,No,No,No,One year,Yes,Mailed check,19.700000,NaN,No
4670,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.350000,NaN,No
4754,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.900000,NaN,No

In [235]:
import numpy as np

In [236]:
# Imputing missing values with nan.
categorical_columns = ['MultipleLines', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Churn']
 
for column in categorical_columns:

    train_data[column].replace("", np.nan, inplace=True)  
    train_data[column].replace("NaN", np.nan, inplace=True)  
    train_data[column].replace("nan", np.nan, inplace=True)

# Imputing missing values with most frequent value (mode)
    train_data[column].fillna(train_data[column].mode()[0], inplace=True)

In [237]:
train_data.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        8
Churn               0
dtype: int64

In [238]:
# Imputing missing values for TOTALCHARGES  with 0 if tenure is 0 (NUMERIC COLUMNS)
train_data['TotalCharges'] = train_data.apply(lambda row: row['MonthlyCharges']
        if pd.isnull(row['TotalCharges']) and row['tenure'] == 0
        else row['TotalCharges'], axis=1)

In [239]:
train_data.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [196]:
train_data['MultipleLines'].fillna(train_data['MultipleLines'].mode()[0], inplace=True)

In [241]:
# CALCULATING THE STATISTIC VALUES OF NUMERIC COLUMNS
for col in numeric:
    skewness = round(numeric[col].skew(),2)
    kurtosis = round(numeric[col].kurt(),2)
    mean = round(numeric[col].mean(),2)
    median = round(numeric[col].median(),2)
    mode = round(numeric[col].mode()[0],2)

# Printing the column name and its statistic values
    print(f"Column: {col}")
    print(f"Skewness: {skewness}")
    print(f"Kurtosis: {kurtosis}")
    print(f"Mean: {mean}")
    print(f"Median: {median}")
    print(f"Mode: {mode}")
    print("-" * 40)

Column: tenure
Skewness: 0.23
Kurtosis: -1.39
Mean: 32.58
Median: 29.0
Mode: 1
----------------------------------------
Column: TotalCharges
Skewness: 0.94
Kurtosis: -0.28
Mean: 2302.06
Median: 1401.15
Mode: 19.75
----------------------------------------
Column: MonthlyCharges
Skewness: -0.24
Kurtosis: -1.25
Mean: 65.09
Median: 70.55
Mode: 20.0
----------------------------------------

In [244]:
# UNIVARIANTE ANALYSIS ON TRAIN_DATA

import matplotlib.pyplot as plt